<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acme-Invoicer v1.0</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
  body {
    background-image: url('/assets/logo-transparent.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
  }
</style>
</head>
  <div class="page-header">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">click here to login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>