{{!-- This form is used to delete a Customer form the database --}}
<form class="form-outline" method="POST" action="/api/customer/delete">
    <div class="container w-50 p-3 my-3 border border-dark rounded-1">
        <h3>Delete a Customer from database:</h3>
        <select id="customer-selected" name="dataval" class="form-select" aria-label="Select a Customer">
        <option selected>Select a customer to remove</option>
        {{#each rendered as |customer| }}
        <option value="{{customer.customer_id}}">{{customer.company_name}}</option>
        {{/each}}
        </select>
        <input class="col-md-2 btn btn-warning" type="submit" value="Delete">
    <input class="col-md-2 ms-2 btn btn-secondary" type="button" value="Clear Form" onClick="window.location.reload(true)">
    </div>
</form>
