{{!-- This is the form for inputting new Customer data --}}
<div class="container w-50 p-3 my-3 border border-dark rounded-1">
<form class="form-outline">
    <div class="row mb-3">
    <label for="company-name" class="form-label">Company Name</label>
    <input type="text" class="form-control" id="company-name" placeholder="Company">
    </div>
    <div class="row mb-3">
    <label for="contact-name" class="form-label">Contact Name</label>
    <input type="text" class="form-control" id="contact-name" placeholder="Contact">
    </div>
    <div class="row mb-3">
    <label for="customer-address" class="form-label">Customer Address</label>
    <input type="text" class="form-control" id="customer-address" placeholder="Address">
    </div>
    <div class="row mb-3">
    <label for="customer-phone" class="form-label">Phone #</label>
    <input type="tel" class="form-control" id="custome-phone" placeholder="xxx-xxx-xxxx">
    </div>
    <div class="row mb-3">
    <label for="customer-email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="customer-email" placeholder="name@example.com">
    </div>
    <button type="button" class="btn btn-primary">Save</button>
</form>
</div>