<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice ID</th>
      <th scope="col">Invoice Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each rendered as |Invoice| }}
    <tr>
      <th scope="row">{{Invoice.invoice_id}}</th>
      <td>{{Invoice.invoice_date}}</td>
      <td><button class="invoice-btn" data-invoiceid="{{Invoice.invoice_id}}">Generate Invoice</button></td>
    </tr>
    {{/each}}
    </tbody>
</table>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src="/js/invoice.js"></script>