<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice ID</th>
      <th scope="col">Invoice Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each invoiceData as |Invoice| }}
    <tr>
      <th scope="row">{{Invoice.invoice_id}}</th>
      <td>{{Invoice.invoice_date}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>